.footer {
  max-width: 1250px;
  min-height: 850px;
  margin: auto;
  margin-top: 60px;
}
.footer__title {
  font-size: 48px;
  margin-bottom: 30px;
}
.footer__text {
  color: #6b6b6c;
  margin-bottom: 40px;
}
